site_name: "Programação Web 1"
site_description: "Material do Curso de Programação Web 1 do curso de Técnico em Desenvolvimento de Sistemas do IFAL"
site_url: "https://<github-username>.github.io/<book-repo-name>/"
repo_url: "https://github.com/leofernandesmo/pweb1-book/"
repo_name: "GitHub"

theme:
  name: material
  language: en
  features:
    - navigation.tabs
    - navigation.top
    - navigation.sections
    - navigation.indexes
    - content.code.copy
    - content.action.edit
    - content.action.view
    - toc.integrate
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

extra:
  social:
    - icon: fontawesome/brands/github
      link: "https://github.com/<your-github-username>"

markdown_extensions:
  - admonition
  - footnotes
  - toc:
      permalink: true
  - codehilite:
      guess_lang: false
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.emoji
  - pymdownx.tasklist:
      custom_checkbox: true

plugins:
  - search
  - print-site:
      add_to_navigation: true
      print_page_title: "Print / Save PDF"  


extra_javascript:
  - assets/js/quiz.js
  - assets/js/code-runner.js

extra_css:
  - assets/extra.css
  - assets/css/custom.css

nav:
  - Home: index.md
  - Cover: cover.md
  - Title Page: title-page.md
  - Preface: preface.md
  - Chapters:
      - "0. Como User Este Material": chapters/00-how-to-use.md
      - "1. Introdução a Web e Navegadores": chapters/01-introducao.md
      - "2. Fundamentos do HTML": chapters/02-html-fundamentos.md
      - "3. HTML Semântico": chapters/03-html-semantico.md
      - "4. Acessibilidade e Boas Práticas com HTML": chapters/04-html-acessibilidade-e-boas-praticas.md      
      - "Appendix": chapters/99-appendix.md      
  - Back Cover: back-cover.md
